

.navbar {
    background-color: #101937 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 10vh;
}


.nav-bars{
    color: white;
    text-decoration: none;
    padding: 2vw;
    transition: 0.3s; 
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-bars:hover {
    background: rgb(17, 179, 255);
}

.alderlogo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.nav-logo{
    margin-right: 18vw;
    margin-left: 2vw
}


