

.navbar {
    background-color: #23c1fff8 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 10vh;
}

.nav-bars {
    color: white;
    text-decoration: none;
    padding: 2vw;
    transition: 0.3s; 
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-bars:hover {
    background: rgb(10, 122, 173);
}

.alderlogo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.nav-logo{
    margin-right: 18vw;
    margin-left: 2vw
}


.submenu {
    width: 90vw;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.submenu-item {
    padding: 15px;
}
.submenu-top {
    display: flex;
    justify-content: space-around;
}
.submenu-bottom {
    display: flex;
}
.submenu-bottom-item {
    flex: 1;
}