.twogig-sidebar-wrapper {
    display: grid;
    align-items: center;
    background-color: #203647;
    list-style: none;
    width: 280px;
    padding: 10px;
    min-width: 15rem;
    min-height: 10rem;
    font-weight: bold;
    font-size: small;
    color:white;
    overflow-y: scroll;
    top: 0;
    max-height: calc(100vh - 7.5rem);
    bottom: 0;
}

.twogig-sidebar-wrapper li{
    /* transition: 0.2s; */
    padding: 10px;
    border-radius: 25px;
}

.twogig-sidebar-wrapper h2{
    padding: 10px;
    text-decoration: underline;
}

.twogig-sidebar-wrapper li:hover {
    background-color: #00B0F0;
    color: white;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background:  #203647; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.tg-bars {
    color: white;
}