.twogig-wrapper {
    display: flex;
}

.twogig-wrapper p {
    color: rgb(167, 167, 167);
    align-items: center;
    text-align: center;
    font-weight:400;
    font-size: 50px;
    padding-top: 300px;
    min-width: 100rem;
    min-height: 10rem;
}