.tg-arm-disarm {
    color: rgb(92, 92, 92);
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:0rem auto 0rem auto;
}

.list-indent{ 
    margin-left: 20px;
  }

  .tg-arm-disarm-steps {
    font-size: 15px;
    text-align: left;
    margin: 20px;
    width:30em;
}

.tg-arm-disarm-steps li{
    margin: 8px;
}
